/* 清除默认样式的代码 */


/* 去除常见标签默认的 margin 和 padding */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
input {
    margin: 0;
    padding: 0;
}


/* 內减模式 */

* {
    box-sizing: border-box;
}


/* 设置网页统一的字体大小、行高、字体系列相关属性 */

body {
    font: 16px "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    color: #333;
}


/* 去除列表默认样式 */

ul,
ol {
    list-style: none;
}


/* 去除默认的倾斜效果 */

em,
i {
    font-style: normal;
}


/* 去除a标签默认下划线，并设置默认文字颜色 */

a {
    text-decoration: none;
    color: #333;
}


/* 设置img的垂直对齐方式为居中对齐，去除img默认下间隙 */

img {
    vertical-align: middle;
}


/* 去除input默认样式 */

input {
    border: none;
    outline: none;
    color: #333;
}


/* 双伪元素清除法 */

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.w {
    width: 1360px;
    margin: 0 auto;
}


/* 清楚默认样式结束 */


/* 头部导航开始 */

.header .header-top-bgc {
    background-color: #252B31;
}

.header .header-top,
.header-bottom {
    height: 60px;
}

.header .header-top h1 {
    float: left;
    padding-top: 10px;
}

.header .header-top h1 a {
    display: block;
    text-indent: -999px;
    width: 120px;
    height: 40px;
    background-image: url(../images/导航/logo-2.png);
}

.header .header-top .header-right {
    float: right;
    padding-top: 15px;
}

.header .header-top .header-right a {
    float: left;
    margin-left: 20px;
    text-align: center;
    width: 90px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #fff;
    border-radius: 20px;
    color: #fff;
}

.header .header-top .header-right a:hover {
    background-color: #EF8220;
    border: 1px solid #EF8220;
}


/* 下半部分头 */

.header .header-bottom {
    line-height: 60px;
}

.header .header-bottom ul {
    float: left;
}

.header .header-bottom ul .list {
    position: relative;
    float: left;
}

.header .header-bottom ul .list a {
    padding: 0 30px;
}

.header .header-bottom ul .list .header-bottom-list {
    position: absolute;
    display: none;
    padding-left: 8px;
    border-radius: 5px;
    height: 100px;
    line-height: 30px;
    background-color: #fff;
}

.header .header-bottom ul .list a:hover {
    color: #FF7900;
}

.header .header-bottom ul .list:hover .header-bottom-list {
    display: block;
}

.header .new::after {
    content: '';
    position: absolute;
    width: 31px;
    height: 14px;
    right: -6px;
    top: 13px;
    background-image: url(../images/导航/new.png);
}

.header .vip {
    margin-left: 70px;
    margin-right: 256px;
}

.header .app {
    position: relative;
    float: right;
}

.header .app::before {
    content: '';
    display: none;
    position: absolute;
    top: 60px;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-image: url(../images/footerErma1.png);
}

.header .app:hover::before {
    display: block;
}

.header .app span {
    padding: 5px 0 5px 20px;
    border-left: 1px solid #D8D8D8;
    font-size: 18px;
    color: #656E79;
}


/* banner部分开始 */

.banner {
    height: 450px;
    background-color: #264ADA;
}

.banner .left {
    float: left;
    width: 200px;
    height: 450px;
    background-color: rgba(0, 0, 0, .3);
}

.banner .left ul li {
    position: relative;
}

.banner .left ul li a {
    display: block;
    color: #fff;
    padding-left: 30px;
    font-size: 18px;
    line-height: 45px;
}

.banner .left ul li a:hover {
    background-color: #EF8220;
}

.banner .left ul li a:hover span {
    display: block;
}

.banner .left ul li span {
    display: none;
    position: absolute;
    right: 20px;
    top: 0;
}

.banner .right {
    float: right;
    width: 300px;
    height: 450px;
    background-color: rgba(0, 0, 0, .3);
}

.banner .banner-img {
    float: left;
}

.banner .right .hd {
    height: 40px;
    line-height: 40px;
    background-color: rgba(0, 0, 0, .3);
    text-align: center;
}

.banner .right .hd span a {
    padding-bottom: 10px;
    color: #ccc;
    font-size: 14px;
}

.banner .right .hd span a:hover {
    border-bottom: 2px solid #EF8220;
    color: #fff;
}

.banner .right div span:nth-child(2) {
    margin: 0 36px;
}

.right li {
    padding-left: 33px;
    line-height: 40px;
}

.right li a {
    color: #ccc;
    font-size: 13px;
}

.right li a:hover {
    color: #EF8220;
}


/* 活动内容导航栏 */

.nav-activity {
    height: 90px;
    background-color: #191E26;
}

.nav-activity .active {
    background-color: #EF8220;
}

.nav-activity .w ul li {
    float: left;
}

.nav-activity .w ul li a {
    position: relative;
    display: block;
    padding-left: 50px;
    width: 340px;
    height: 90px;
    color: #fff;
    font-size: 18px;
    line-height: 90px;
    text-align: center;
}

.nav-activity .w ul li a::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 95px;
    width: 36px;
    height: 46px;
    background-image: url(../images/次导航/热门活动.png);
}

.nav-activity .w ul li:nth-child(2) a::before {
    background-image: url(../images/次导航/就业咨询.png);
}

.nav-activity .w ul li:nth-child(3) a::before {
    background-image: url(../images/次导航/课程推荐.png);
}

.nav-activity .w ul li:nth-child(4) a::before {
    background-image: url(../images/次导航/在线直播.png);
}

.nav-activity .w ul li a:hover {
    background-color: #EF8220;
}


/* 交互实验室模块 */

.title {
    height: 75px;
}

.title span {
    float: left;
    padding-top: 50px;
    font-size: 25px;
    color: #333;
}

.title a {
    float: right;
    padding-top: 60px;
    color: #8B8A8B;
}

.title-content {
    position: relative;
}

.title-content li {
    position: absolute;
    top: 65px;
    left: 44px;
    width: 193px;
    height: 90px;
    padding-top: 25px;
    /* line-height: 90px; */
    border-radius: 5px;
    border: 1px solid #FFE7D1;
    box-shadow: 0px 0px 6px #FF7900;
}

.title-content li a::after {
    content: '';
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    width: 193px;
    height: 90px;
    background-color: tomato;
}

.title-content li a:hover::after {
    display: block;
}

.title-content li a::before {
    content: '立即进入';
    display: none;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #000;
    background-color: #fff;
}

.title-content li a:hover::before {
    display: block;
}

.title-content li a {
    display: inline-block;
    color: #9E9E9E;
}

.title-content li:nth-child(2) {
    top: 163px;
    left: 190px;
}

.title-content li:nth-child(3) {
    top: 187px;
    left: 408px;
}

.title-content li:nth-child(4) {
    top: 174px;
    left: 804px;
}

.title-content li:nth-child(5) {
    top: 72px;
    left: 970px;
}

.title-content li:nth-child(6) {
    top: 166px;
    left: 1150px;
}


/* 职业体系模块 */

.title-vocation,
.title-course {
    height: 104px;
    line-height: 104px;
}

.title-vocation span:nth-child(1),
.title-course span:nth-child(1) {
    color: #333;
    font-size: 25px;
}

.title-vocation span:nth-child(2),
.title-course span:nth-child(2) {
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #999;
    color: #999;
    font-size: 25px;
}

.content-vocation li {
    float: left;
    margin-right: 40px;
    padding-top: 24px;
    border: 2px solid #EFEFEF;
    text-align: center;
    width: 310px;
    height: 290px;
}

.content-vocation li p {
    margin: 15px 0;
    color: #8B8A8B;
}

.content-vocation li a {
    display: inline-block;
    border: 2px solid #FE933A;
    width: 160px;
    height: 42px;
    color: #FE933A;
    text-align: center;
    line-height: 42px;
}

.content-vocation li a:hover {
    background-color: #EF8220;
    color: #fff;
}

.content-vocation li:last-child {
    margin-right: 0;
}


/* 热销课程模块 */

.content-course li {
    float: left;
    margin-right: 40px;
    border: 1px solid #EFEFEF;
    border-radius: 10px;
    width: 310px;
    height: 230px;
}

.content-course li:nth-child(4) {
    margin-right: 0;
}

.content-course {
    float: left;
}

.content-course li {
    float: left;
}

.content-course li p {
    margin: 15px 0 5px 15px;
    color: #2C2C40;
}

.content-course li span {
    margin-left: 15px;
    color: #FE933A;
    font-size: 14px;
}

.content-course li .study {
    position: relative;
    float: right;
    margin-right: 15px;
}

.content-course li .study::before {
    content: '';
    position: absolute;
    top: 5px;
    left: -14px;
    width: 10px;
    height: 10px;
    background-image: url(../images/热销课程-人数.png);
}

.content-course li a {
    display: block;
}

.content-course li a img {
    width: 310px;
}


/* 热门就业班 */

.title-job {
    height: 104px;
    line-height: 104px;
    color: #333;
    font-size: 25px;
}

.content-job .bd {
    position: relative;
    float: left;
    margin-right: 40px;
    border: 1px solid #EFEFEF;
    width: 660px;
    height: 258px;
}

.content-job ul .bd::after {
    content: '';
    display: none;
    top: 0;
    right: 0;
    position: absolute;
    width: 660px;
    height: 138px;
    background-color: rgba(0, 0, 0, .3);
}

.content-job ul .bd:hover::after,
.content-job ul .bd:hover::before {
    display: block;
}

.content-job ul .bd::before {
    content: '查看详情';
    position: absolute;
    display: none;
    z-index: 2;
    top: 80px;
    left: 50%;
    transform: translate(-50%);
    width: 106px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background-color: #FF7900;
    text-align: center;
}

.content-job li:nth-child(2) {
    margin-right: 0;
}

.content-job li div {
    float: left;
    width: 164px;
    height: 120px;
    line-height: 60px;
    text-align: center;
}


/* 推荐讲师模块 */

.title-teacher {
    height: 105px;
    line-height: 105px;
    color: #333;
    font-size: 25px;
}

.box-teacher {
    float: left;
    position: relative;
    margin-right: 96px;
    width: 268px;
    height: 198px;
}

.teacher-last {
    margin-right: 0;
}

.content-teacher-top {
    position: relative;
    border-bottom: 2px solid #EFEFEF;
    height: 100px;
    width: 268px;
}

.content-teacher-top::after {
    content: '';
    position: absolute;
    top: 66px;
    left: 56px;
    width: 12px;
    height: 12px;
    background-image: url(../images/推荐讲师/star.png);
}

.content-teacher-top img {
    float: left;
    margin-right: 15px;
}

.content-teacher-top span {
    display: inline-block;
    margin: 10px 0;
}

.content-teacher-top p {
    color: #999;
    font-size: 14px;
}

.box-teacher .hd {
    margin-top: 19px;
    margin-bottom: 30px;
}

.box-teacher .hd,
.fen {
    color: #999;
    font-size: 14px;
}

.box-teacher ul {
    position: absolute;
    left: 28px;
    bottom: 5px;
}

.box-teacher ul li {
    float: left;
    margin-right: 5px;
}


/* 传智旗下品牌 */

.chuanzhi-title {
    margin: 30px 0;
    font-size: 25px;
    color: #333;
}

.chuanzhi-content {
    padding-left: 30px;
    border: 1px solid #EFEFEF;
    border-radius: 10px;
    height: 100px;
    line-height: 100px;
}

.chuanzhi-content ul li {
    float: left;
    margin-right: 20px;
}


/* 底部 */

.footer {
    margin-top: 100px;
    height: 266px;
    background-color: #2C3034;
}

.footer-xian {
    height: 142px;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 2px solid #4D525A;
}

.footer-title span {
    display: inline-block;
    margin-top: 30px;
    margin-right: 10px;
}

.footer-title .code {
    position: relative;
}

.footer-title .code::after {
    content: '';
    position: absolute;
    display: none;
    top: 30px;
    left: -34px;
    width: 100px;
    height: 100px;
    background-image: url(../images/downcode.png);
    background-size: cover;
}

.footer-title .code:hover::after {
    display: block;
}

.footer-title ul {
    display: inline-block;
}

.footer-title li {
    float: left;
    margin-top: 30px;
    margin-right: 40px;
}

.footer-title li a {
    color: #fff;
}

.footer-title li a:hover {
    color: #EF8220;
}

.footer-bottom {
    color: #97979C;
    text-align: center;
    line-height: 30px;
}

.footer-bottom span,
.boxuegu {
    font-size: 14px;
}


/* 固定导航栏 */

.fixed {
    position: fixed;
    right: 0;
    top: 250px;
    padding: 20px 24px;
    background-color: #fff;
    box-shadow: 0 2px 14px 0;
    border-radius: 8px 0 0 8px;
    width: 80px;
    height: 504px;
}

.fixed ul li a {
    display: block;
    padding: 20px 0;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    color: #888;
}

.fixed .last a {
    border-bottom: 0;
}

.fixed a:hover {
    color: tomato;
}